<style>
  .body {
    height: 100%;
  }

  .welcome-message {
    position: absolute;
    top: 22px;
    right: 15px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .sidebar-nav {
    height: 100%;
    background-color: #f8f9fa;
    padding-top: 20px;
  }

  .sidebar-nav .nav-item .nav-link {
    color: #495057;
    text-align: left;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    width: 200px;
  }

  .sidebar-nav .nav-item .nav-link:hover {
    background-color: #efefef;
    color: #495057;
  }

  .sidebar-nav .nav-item .active {
    background-color: #545cf9;
    color: white;
  }

  .image {
    width: 50px;
  }
</style>

<body class="bg-light d-flex flex-column min-vh-100">
  <div class="welcome-message">
    <span>Welcome, {{username}}</span>
  </div>
  <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
    <li class="nav-item"><a class="nav-link active" href="/dashboard"><i
          class="bi bi-speedometer2 me-2"></i>Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="/profile"><i class="bi bi-person me-2"></i>Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="/my-contacts"><i class="bi bi-people me-2"></i>My Contacts</a></li>
    <li class="nav-item"><a class="nav-link" href="/blocked-contacts"><i class="bi bi-person-x me-2"></i>Blocked
        Contacts</a></li>
    <li class="nav-item"><a class="nav-link" href="/badges"><i class="bi bi-patch-check me-2"></i>Badges</a></li>
  </ul>
  </div>

  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      {{#if message}}
          <div class="alert text-center {{#ifEquals type 
          'success'}}alert-success{{else}}alert-danger{{/ifEquals}}">
          {{message}}
          </div>
      {{/if}}
      <table class="table table-striped my-4 justify-content-center text-center">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Profile Picture</th>
            <th scope="col">Known Languages</th>
            <th scope="col">Learning Languages</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each matchingUsers}}
          <tr>
            <td>{{this.username}}</td>
            <td><img class="image" src="{{this.profilePicturePath}}" alt="{{this.username}}" class="profile-picture">
            </td>
            <td>
              {{#each this.knownLanguages}}
              {{this}}{{#unless @last}}, {{/unless}}
              {{/each}}
            </td>
            <td>
              {{#each this.learningLanguages}}
              {{this}}{{#unless @last}}, {{/unless}}
              {{/each}}
            </td>
            <td>
              <form action="/add-contact/{{this._id}}">
                <button class="btn btn-success btn-sm">
                  <i class="bi bi-person-plus-fill m-1"></i>Add Contact
                </button>
                <form action="/block-contact/{{this._id}}">
                  <button class="btn btn-danger btn-sm"><i class="bi bi-ban m-1"></i>Block Contact</button>
                </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</body>